
/* Accordion */

.panel-group {

	.panel {

		border-radius: 0;

		> .open {

			background: $green;
			color: $white;
			border: 1px solid $green;

		}

	}

} 

.panel-heading {

	border-radius: 0;
	text-align: center;
	transition: all 0.1s;

	&:hover, &:focus {

		background: $green;
		color: $white;

	}

}