
/* Carousel */

.carousel {

	height: 100vh;
	overflow: hidden;

	.carousel-inner {

		.item {

			height: 100vh;
			text-align: center;
			padding: 10% 0 0 0;	

			img {

				display: block;
				margin: 0 auto;
				width: 50%;

				@media screen and (max-width: $tabletLandscape) {

					width: 65%;

				}

				@media screen and (max-width: $tabletPortrait) {

					width: 100%;

				}

				@media screen and (max-width: $mobileLargeLandscape) {

					width: 50%;

				}

				@media screen and (max-width: $mobileLargePortrait) {

					width: 100%;

				}

			}

			.btn {

				position: absolute;
				top: 84%;
				left: 48.5%;

				@media screen and (max-width: $laptop) {

					top: 80%;
					left: 48%;

				}

				@media screen and (max-width: $tabletLandscape) {

					top: 78%;
					left: 47%;

				}

				@media screen and (max-width: $tabletPortrait) {

					top: 79%;
					left: 46%;

				}

				@media screen and (max-width: $mobileLargeLandscape) {

					top: 69%;
					left: 46%;

				}

				@media screen and (max-width: $mobileLargePortrait) {

					top: 73%;
					left: 43%;

				}

			}

			&:nth-of-type(1) {

				background: #635093;

			}

			&:nth-of-type(2) {

				background: #47acca;

			}

			&:nth-of-type(3) {

				background: #62d691;

			}

			@media screen and (max-width: $tabletLandscape) {

				padding: 17% 0 0 0;	

			}

			@media screen and (max-width: $tabletPortrait) {

				padding: 37% 0 0 0;

			}

			@media screen and (max-width: $mobileLargeLandscape) {

				padding: 15% 0 0 0;	

			}

			@media screen and (max-width: $mobileLargePortrait) {

				padding: 50% 0 0 0;	

			}

		}

	}

}

.carousel-control {

	width: 2%;

	.glyphicon-chevron-left, .glyphicon-menu-left, .icon-prev, .glyphicon-chevron-right, .glyphicon-menu-right, .carousel-control .icon-next {

		position: absolute;
    	top: 50%;
    	z-index: 5;
    	display: inline-block;
    	margin-top: -10px;

    	@media screen and (min-width: $tabletPortrait) {

			width: 30px;
	    	height: 30px;
	    	margin-top: -10px;
	    	font-size: 30px;

		}

	}

	.glyphicon-chevron-left, .glyphicon-menu-left, .icon-prev {

		left: 50%;
    	margin-left: -10px;

    	@media screen and (min-width: $tabletPortrait) {

			margin-left: 10px;

		}

	}

	.glyphicon-chevron-right, .glyphicon-menu-right, .carousel-control .icon-next {

		right: 50%;
    	margin-right: -10px;

    	@media screen and (min-width: $tabletPortrait) {

			margin-right: 30px;

		}

	}

}

.carousel-control.left {

	background: none;

}

.carousel-control.right {

	background: none;

}

.carousel-indicators {

	bottom: 5%;

	li {

		margin: 1px 5px 1px 1px;

		&:last-child {

			margin: 1px 0 1px 1px;

		}

	}

	.active {

		margin: 1px 5px 1px 1px;

		&:last-child {

			margin: 0;

		}

	}

	@media screen and (max-width: $laptop) {

		bottom: 7%;

	}

	@media screen and (max-width: $tabletPortrait) {
		
		bottom: 10%;

	}

	@media screen and (max-width: $tabletLandscape) {
		
		bottom: 9.5%;

	}

	@media screen and (max-width: $mobileLargeLandscape) {
		
		bottom: 10%;

	}

}