/* Categories */

.category-one {

	position: relative;
	
	svg {

		position: absolute;
		z-index: -1;
		height: 100%; 
		width: 100%; 
		left: 0; 
		top: 0;

		@media screen and (max-width: $mobileLarge) {
			display: none;
		}

	}

}