
/* Navbar */

#navbar {

	position: relative;

}

.navbar {

	min-height: 50px;
	margin-bottom: 0;

}

.navbar-default {

	background: $gray;
	padding: 12px 0;
	border: none;

	.navbar-nav {

		li {

			a {

				color: $white;
				transition: $fastTransition;

				&:hover, &:focus {

					color: $green;

				}

			}

		}

    @media screen and (max-width: $mobileLargeLandscape) {

      float: left;
      margin: 7.5px -15px 0;

    }

    @media screen and (max-width: $mobileLargePortrait) {

      float: left;
      margin: 7.5px -15px 0;

    }

	}

	.navbar-text {

		color: $white;
		transition: $fastTransition;

	}

	.navbar-toggle {

		z-index: 1040;
		padding: 0;
		margin: 0;
		border: none;
		color: $white;
    float: left;

		&:hover, &:focus {

			background: none;
			color: $green;
			transition: $fastTransition;

		}

		@media screen and (max-width: $tabletPortrait) {

			display: block;

		}

    @media screen and (max-width: $mobileLargeLandscape) {

      margin: 0 0 0 15px;

    }

    @media screen and (max-width: $mobileLargePortrait) {

      margin: 0 0 0 15px;

    }

	}

}

.nav {

	li {

		.social-media {

			padding: 0 0 0 10px;

		}

    @media screen and (max-width: $mobileLargeLandscape) {

      display: inline-block;

    }

    @media screen and (max-width: $mobileLargePortrait) {

      display: inline-block;

    }

	}

}

.navbar-right {

	margin: 0 15px 0 0;

  @media screen and (max-width: $mobileLargeLandscape) {

    float: right !important;
    margin: 7.5px 0 !important;

  }

  @media screen and (max-width: $mobileLargePortrait) {

    float: right !important;
    margin: 7.5px 0 !important;

  }

}

.navbar-content {

  background: $gray;
  position: fixed;
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  overflow-x: hidden;
  z-index: 1050;
  padding: 0;
  transition: $fastTransition;
  color: $white;
  box-shadow: inset $blackShadow;

    div {

      h1 {

        text-align: center;
        color: $white;

      }

      img {

        display: block;
        margin: 30px auto;
        width: 50%;

      }

      div {

        div {

          position: relative;

          /* Base level */

          ul {

            position: absolute;
            z-index: 9999;
            top: 0;
            left: 0;
            width: 100%;
            list-style-type: none;
            margin: 0 -15px 0 -5px;
            padding: 0;
            box-shadow: inset $blackShadow;

            .active {

              background: $green;
              color: $white;

            }

            /* Level 1 */

            ul {

                position: absolute;
                z-index: 9998;
                display: block;
                top: 0;
                left: 400px;
                list-style-type: none;
                margin: 0;
                padding: 0;
                background: $white;
                border-right: 1px solid $lightGray;
                box-shadow: inset $blackShadow;

                /* Level 2 */

                ul {

                  position: absolute;
                  z-index: 9997;
                  top: 0;
                  left: 400px;
                  list-style-type: none;
                  margin: 0;
                  padding: 0;
                  background: $green;
                  border-right: 1px solid $lightGray;
                  box-shadow: inset $blackShadow;

                  /* Level 3 */

                  ul {

                    position: absolute;
                    z-index: 9996;
                    top: 0;
                    left: 400px;
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    background: $lightGray;
                    border-right: 1px solid $white;
                    box-shadow: inset $blackShadow;

                    li {

                      border-bottom: 1px solid $white;

                      a {

                        display: block;
                        padding: 15px 15px 15px 40px;
                        color: $gray;
                        transition: $fastTransition;
                        text-decoration: none;

                        &:hover, &:focus {

                          background: none;
                          color: $green;

                        }

                      }

                      &:last-child {

                        border: none;

                      }

                    }

                  }

                  li {

                    border-bottom: 1px solid $lightGray;

                    a {

                      display: block;
                      padding: 15px 15px 15px 40px;
                      color: $white;
                      transition: $fastTransition;
                      text-decoration: none;

                      &:hover, &:focus {

                        background: none;
                        color: $gray;

                      }

                    }

                    &:last-child {

                      border: none;

                    }

                  }

                }

                li {

                  border-bottom: 1px solid $lightGray;

                  a {

                    display: block;
                    padding: 15px 15px 15px 40px;
                    color: $green;
                    transition: $fastTransition;
                    text-decoration: none;

                    &:hover, &:focus {

                      background: none;
                      color: $gray;

                    }

                  }

                  &:last-child {

                    border: none;

                  }

                }

            }

            li {

              border-bottom: 1px solid $white;

              a {

                display: block;
                padding: 15px 15px 15px 40px;
                color: $white;
                transition: $fastTransition;
                text-decoration: none;

                .fa:nth-of-type(1) {

                  padding: 0 10px 0 0;

                }

                .fa-chevron-right {

                  margin: 3px 30px 0 0;
                  float: right;

                }

                &:hover, &:focus {

                  background: $gray;
                  color: $green;

                }

              }

              &:last-child {

                border: none;

              }

            }

          }

        }

      }

      .search {

        width: 100%;
        padding: 0 19px;

        a {

          position: absolute;
          top: -1px;
          right: 20px;
          color: $white;
          font-size: 1.5em;

          &:hover, &:focus {

            text-decoration: none;

          }

        }

        .fa-search {

          position: absolute;
          top: 5px;
          left: 20px;
          color: $white;
          font-size: 1.5em;

        }

      }

      .breadcrumbs {

      	position: absolute;
        left: 0;
        bottom: 0;
        list-style-type: none;
        margin: 0;
        padding: 5px 0 15px;
        text-align: center;
        width: 100%;

        li {

          display: inline;
          border: none;

          &:after {

            content: ":";
            padding: 0 5px 0 5px;

          }

          &:last-child:after {

            content: none;
            padding: 0;

          }

        }

      }

      .navbar-content-close-btn {

        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        color: $white;
        z-index: 5;

        &:hover, &:focus {

          color: $white;
          text-decoration: none;

        }

      }

    }

}

.navbar-title {

  text-transform: capitalize;
  margin: 40px 0 20px 0;

}