/* Typography */

h1, h2, h3, h4 {
	font-weight: normal;
}

h1 {

	span {

		color: $green;
		border-bottom: 3px solid $green;

	}

}

h2 {

	span {

		color: $green;
		border-bottom: 3px solid $green;

	}

}

h3 {

	span {

		color: $green;
		border-bottom: 3px solid $green;

	}

}

h4 {

	span {

		color: $green;
		border-bottom: 3px solid $green;

	}

}