/* Typography */

h1, h2, h3, h4 {
	font-weight: normal;
}

h1 {

	span {

		color: $green;
		border-bottom: 3px solid $green;

	}

	.fa {

		font-size: 1.5em;
		color: $green;
		display: block;
		clear: both;

	}

}

h2 {

	span {

		color: $green;
		border-bottom: 3px solid $green;

	}

	.fa {

		font-size: 1.5em;
		color: $green;
		display: block;
		clear: both;

	}

}

h3 {

	span {

		color: $green;
		border-bottom: 3px solid $green;

	}

	.fa {

		font-size: 1.5em;
		color: $green;
		display: block;
		clear: both;

	}

}

h4 {

	span {

		color: $green;
		border-bottom: 3px solid $green;

	}

	.fa {

		font-size: 1.5em;
		color: $green;
		display: block;
		clear: both;

	}

}