
/* Colours */

$white: #ffffff;
$gray: #333333;
$lightGray: #e5e5e5;
$green: #3ba30d;

/* Shadows */

$lightGreenShadow: 0 0 20px rgba(59, 163, 13, 0.6);
$blackShadow: -12px 0px 23px -14px rgba(0, 0, 0, 0.31);

/* Transitions */

$fastTransition: all 0.3s;

/* Screen sizes */

$desktop: 1920px;
$laptop: 1440px;
$tabletLandscape: 1024px;
$tabletPortrait: 768px;
$mobileLarge: 425px;