
@import 'bootstrap';
@import 'font.awesome';
@import 'font.awesome.animation';

@import 'variables';
@import 'accordion';
@import 'buttons';
@import 'carousel';
@import 'navbar';
@import 'typography';
@import 'helper';
@import 'articles';
@import 'lightbox';
@import 'categories';

body {

  overflow-x: hidden;

}

a {

	color: $green;
	text-decoration: none;
	transition: $fastTransition;
	cursor: pointer;

	&:hover, &:focus {

		color: $gray;
		text-decoration: none;

	}

}

form {

	text-align: center;
	padding: 0 0 15px 0;
	border-bottom: 2px dashed $lightGray;

	.btn {

		padding: 6px 30px;

	}

}

input, textarea {

	background: none;
	border: 1px solid $lightGray;
	padding: 5px;
	width: 100%;

	&:focus {

		border: 1px solid $green;
		box-shadow: $lightGreenShadow;

	}

}

textarea {

	min-height: 30vh;

}

label {

	display: block;
	margin: 15px 0;
	font-weight: normal;
	text-align: center;

}

section {

	margin: 15px 0;

	.container {

		.row {

			div {

				h1, h2, h3, h4 {

					text-align: center;

				}

			}

		}

	}

}

section[role="highlight"] {

	margin: 15px 0;
	padding: 15px 0 0 0;
	color: $white;
	overflow: hidden;

	&:before {


	}

	h1 {

		text-align: center;
		color: $gray;
		margin: 15px 0 30px;

	}

}

blockquote {

	background: url("../assets/svg/image-4.svg") center no-repeat;
	position: relative;
	font-size: 3em;
	float: right;
	width: 50%;
	padding: 0 15px 0 15px;
	margin: 0 0 0 15px;
	line-height: 1.3em;
	text-align: center;
	color: $green;
	border-left: 5px solid $green;

	&:before {

		font-size: 1.5em;
		position: absolute;
		left: 1%;
		content: open-quote;

	}

	&:after {

		font-size: 1.5em;
		position: absolute;
		right: 1%;
		content: close-quote;

	}

	@media screen and (max-width: $mobileLarge) {
		display: block;
		width: 100%;
	}

}

form {

	div {

		img {

			padding: 5% 0 0 0;
			width: 80%;

		}

		iframe {

			margin: 15px 0;

		}

	}

}

.footer {

	position: static;
	background: $gray;
	text-align: center;
	color: $white;
	padding: 30px 0 15px 0;
	margin: 0 0 0 0;

	.container {

		p {

			color: $white;

		}

		ul {

			list-style-type: none;
			margin: 0 0 15px 0;
			padding: 0;

			li {

				display: inline-block;
				padding: 0 15px 0 0;

				&:last-child {

					padding: 0;

				}

				a {

					color: $green;

					&:hover, &:focus {

						color: $white;

					}

				}

			}

		}

	}

}

.brand {

	position: fixed;
	margin: 0 auto;
	width: 2.5%;
	left: 49%;
	top: 1%;
	z-index: 1030;

	@media screen and (max-width: $laptop) {
		width: 4%;
		left: 48%;
	}

	@media screen and (max-width: $tabletLandscape) {
		width: 6%;
		left: 47%;
	}

	@media screen and (max-width: $tabletPortrait) {
		width: 8%;
		left: 46%;
	}

	@media screen and (max-width: $mobileLarge) {
		width: 11%;
		left: 44%;
	}

}

.img-responsive {

	margin: 15px 0;

}

.showcase {

	opacity: 0;

	@media screen and (max-width: $tabletPortrait) {

		opacity: 1;

	}

}

.showcase-left {

	position: relative;

	.showcase-caption {

		background: $green;
		position: absolute;
		width: 50%;
		top: 50%;
		left: 5%;
		z-index: 1029;
		padding: 15px;
		color: $white;

		h2 {

			margin: 0 auto auto;

		}

		@media screen and (max-width: $tabletLandscape) {

			top: 15%;

		}

		@media screen and (max-width: $tabletPortrait) {

			position: static;
			top: 0;
			display: block;
			clear: both;
			width: 100%;

		}

	}

	.showcase-media {

		position: relative;
		right: -100%;
		width: 50%;

		.img-responsive {

			margin: 0;

		}

		@media screen and (max-width: $tabletPortrait) {

			position: static;
			top: 0;
			display: block;
			clear: both;
			width: 100%;

		}

	}

}

.showcase-right {

	position: relative;

	.showcase-caption {

		background: $green;
		position: absolute;
		width: 50%;
		top: 50%;
		right: 5%;
		z-index: 1029;
		padding: 15px;
		color: $white;

		h2 {

			margin: 0 auto auto;

		}

		@media screen and (max-width: $tabletLandscape) {
			top: 15%;
		}

		@media screen and (max-width: $tabletPortrait) {

			position: static;
			top: 0;
			display: block;
			clear: both;
			width: 100%;

		}

	}

	.showcase-media {

		position: relative;
		left: -100%;
		width: 50%;

		.img-responsive {

			margin: 0;

		}

		@media screen and (max-width: $tabletPortrait) {

			position: static;
			top: 0;
			display: block;
			clear: both;
			width: 100%;

		}

	}

}

.pull-right {

	margin: 0 0 0 15px;

}

.pull-left {

	margin: 0 15px 0 0;

}