
@import 'bootstrap';
@import 'font.awesome';
@import 'font.awesome.animation';

@import 'variables';
@import 'accordion';
@import 'buttons';
@import 'carousel';
@import 'navbar';

body {

  padding-top: 39px;
  overflow-x: hidden;

}

section {

	background: $lightGray;
	margin: 15px 0;
	color: $white;

}

.brand {

	position: absolute;
	margin: 0 auto;
	width: 4%;
	left: 47%;

	@media screen and (max-width: $tabletPortrait) {
		width: 6%;
	}

}

.img-responsive {

	margin: 15px 0;

}

.ui-loader {

	display: none;

}

.showcase {

	opacity: 0;

}

.showcase-left {

	position: relative;

	.showcase-caption {

		background: $blue;
		position: absolute;
		width: 50%;
		top: 50%;
		left: 5%;
		z-index: 1029;
		padding: 15px;
		color: $white;

		h2 {

			margin: 0 auto auto;

		}

	}

	.showcase-media {

		position: relative;
		right: -30%;
		width: 70%;
		border-left: 5px solid $blue;

		.img-responsive {

			margin: 0;

		}

	}

}

.showcase-right {

	position: relative;

	.showcase-caption {

		background: $blue;
		position: absolute;
		width: 50%;
		top: 50%;
		right: 5%;
		z-index: 1029;
		padding: 15px;
		color: $white;

		h2 {

			margin: 0 auto auto;

		}

	}

	.showcase-media {

		position: relative;
		left: 0;
		width: 70%;
		border-right: 5px solid $blue;

		.img-responsive {

			margin: 0;

		}

	}

}